DATABASE_URL="file:./prisma/prod.db"
AUTH_SECRET="replace-with-32-plus-random-chars"
ADMIN_AUTH_SECRET="replace-with-32-plus-random-chars"
NEXT_PUBLIC_APP_URL="https://pitchpass.shop"
CUSTOMER_SESSION_MAX_AGE=604800
ADMIN_SESSION_MAX_AGE=28800
NODE_ENV="production"
